@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600);
body{
	font-family: 'Open Sans', sans-serif;
}


/*header
===================*/
header div.user{
	margin:5px 0px 20px;
}
header div.user span:first-child{
	text-transform: capitalize;
}
header div.user span{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	
}






/*
h1, h2, h3, h4, h5, h6
===================================*/
header h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
section.myform form h3{
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize;
	font-weight: 300;
	margin:0px 0px;
	color:#333;
}
/*table design
======================*/




/*form design
=====================*/
.photo, .signature{
	border:solid 1px #ccc;
	border-radius: 5px;
	margin:10px auto;
	padding:20px;
	display: inline-block;
	width:100%;
}
section.myform div.photo label,
section.myform div.signature label{
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize;
	font-weight: 400;
}
section.myform div.upload{
	
	line-height: 6;
}
section.myform div.upload button{
	/*color:red;*/
	text-transform: capitalize;
}




/*placeholder design
===============================*/
::-webkit-input-placeholder {
   color: gray;
   font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: regray 
   font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgray 
   font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic; 
}

:-ms-input-placeholder {  
   color: rgray 
   font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic; 
}